#start{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
 width: 100vw;   
 background-color: #ef626c;
}
h1{
    color: #f6e8ea;
}
p{
    color: #312f2f;
}
.button-container{
    display: flex;
    flex-direction: row;
}
.button-container button{
    margin-right: 10px;
}