.enemy {
    position: relative;
    margin: 10px;
    border: 1px solid #000;
    background-color: #ADD8E6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px red
  }

  .enemy .health-bar {
    width: 80%;
    height: 10px;
    /* This is the grey behind the health bar */
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
  }
  
  .enemy .health-fill {
    height: 100%;
    /* Health that is in the bar */
    background-color: red;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
  }

  

.enemy-sprite {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover; 
    animation: animateEnemy 1s steps(var(--frames))infinite;
    /* animation: animateEnemy 1s steps(8) infinite;  */
  }
  
  
 @keyframes animateEnemy {
    0% { background-position: 0 0; } 
    100% { background-position: calc(-1 * var(--frame-width) * var(--frames)) 0; }
 }
/* @keyframes animateEnemy {
    0% { background-position: 0 0; } 
    100% { background-position: -1024px 0; } 
} */